body {
    text-align: center; /* Centers the content */
    margin-top: 50px; /* Adds some space at the top of the page */
}
.top-right {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
}
.user_info {
    display: inline-block; /* Align username and button inline */
}
.logout-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #f44336; /* Red color for the logout button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.logout-button:hover {
    background-color: #d32f2f;
}
.friend-link {
    display: inline;
    margin: 20px;
    padding: 10px 20px;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}
.friend-link:hover {
    background-color: #45a049;
}
.cart-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #4CAF50; /* Green color for the cart button */
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
.cart-button:hover {
    background-color: #45a049;
}
.form-container {
    margin: auto;
    width: fit-content;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
input, button {
    margin: 10px 0;
    padding: 8px 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}
button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
}
button:hover {
    background-color: #45a049;
}
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.remove-item-button {
    padding: 5px 10px;
    background-color: #f44336; /* Red color for the remove item button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.remove-item-button:hover {
    background-color: #d32f2f;
}
.clear-cart-button {
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #f44336; /* Red color for the clear cart button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.clear-cart-button:hover {
    background-color: #d32f2f;
}
.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.container-signup {
    margin: 0 auto;
    width: auto; 
}
.list {
    width: 45%;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}
.form-item {
    margin-bottom: 10px;
}
.back-button {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}
.back-button-container {
    text-align: center; 
    margin-top: 20px;
}
ul.no-bullets {
    list-style-type: none; /* Removes the bullet points */
    padding-left: 0;      /* Removes the default padding */
}
li {
    padding: 5px 0; /* Adds some vertical spacing between list items */
}
